---
import PageHeading from "../components/page-heading.astro";
import PostsLoop from "../components/posts-loop.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Mis Publicaciones">t
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Mis Publicaciones"
      description="Aca encontraras una lista de mis publicaciones donde se encuentran los roles que he tenido en los proyectos, las tecnologias que conozco, mis certificados y cursos, y los eventos a los que he asistido. Espero que esta informacion te ayude a conocerme mejor como desarrollador de videojuegos."
    />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <PostsLoop count="999999999" />
    </div>
  </section>
</Layout>
